.btn-add-green {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 6px;
  transition: all 0.2s ease;
}


.btn-add-green:hover {
  background-color: #218838;
  transform: scale(1.025);
}

.btn-add-green.clicked {
  background-color: #1e7e34; 
  transform: scale(1.05);
}
